{% block extraHead %}

{% endblock %}

<div data-ec-gallery data-ec-gallery-{{data.widget._id}} {%if data.options.fullWidth or data.widget.fullWidth  %} data-full-width {% endif %}>
  <div data-ec-gallery-main class="slider slider-for" >
  {% for item in data.widget.items.items%}
  {% if item %}
    {% if item.type == "apostrophe-images" %}
      <div>
        {% set image = apos.images.first(item) %}
        <div class="image" style="background-image:url({{ apos.attachments.url(image, { size: data.options.size or 'full' })}});"></div>
      </div>
    {% endif %}

    {% if item.type == "apostrophe-video" %}
      <div>
        <div class="video-container">
          <iframe class="apostrophe-video" src="{{item.video.url.replace('watch','embed').replace('?v=','/')}}?rel=0&amp;showinfo=0&enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    {% endif %}

     {% if item.type == "apostrophe-html" %}
     <div>
      {{ item.code | safe }}
    </div>
     {% endif %}

     {% if item.type == "ec-360" %}
        {% if 'iframe' in item.code %}
          <div>
            <div class="google-container">
            <iframe  src=" {{ item.code.split('src="')[1].split('" ')[0] }}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        {% endif %}
     {% endif %}

  {% endif %}
  {% endfor %}
  </div>

  <div class="slider slider-nav" data-ec-gallery-thumbs>
  {% for item in data.widget.items.items %}
  <div>
  {% if item %}
    {% if item.type == "apostrophe-images" %}
      {% set image = apos.images.first(item) %}
      <div class="thubnail image" style="background-image:url({{ apos.attachments.url(image, { size: 'one-half' }) }});"></div>
       
    {% endif %}

   {% if item.type == "apostrophe-video" %}
    <div class="thubnail image" style="background-image:url({{ item.video.thumbnail}});"></div>
    {% endif %}
   {% if item.type == "ec-360" %}

      <div class="thubnail image image-360" style="background-image:url(/modules/ec-gallery-widgets/img/360-icon.png);"></div>

   {% endif %}
  {% endif %}
</div>
  {% endfor %}
  </div>
</div>